---
title: "Facebook Domain Verification"
slug: "vtex-facebook-domain-verification"
excerpt: "vtex.facebook-domain-verification@1.0.1"
hidden: false
createdAt: "2020-09-21T15:03:40.709Z"
updatedAt: "2020-09-21T15:03:40.709Z"
---
# Facebook Domain Verification

This app sets the meta-tag containing the verification code into the `<head>` section of your website's homepage.

![facebook-domain](https://cdn.jsdelivr.net/gh/vtexdocs/dev-portal-content@main/images/vtex-facebook-domain-verification-0.png)

## Configuration

It is possible to install this app in your store either by using App Store or the VTEX IO Toolbelt.

### Using VTEX App Store

1. Access the **Apps** section in your account's admin page and look for the Facebook Domain Verification box;
2. Then, click on the **Install** button;
3. You'll see a warning message about needing to enter the necessary configurations. Scroll down and type in your verification code.
4. Click on **Save**.

>ℹ️ Access the [Facebook Business Settings](https://business.facebook.com/settings/owned-domains/) and login to you account in order to find out what is your domain verification code is. Click on the Meta-tag Verification tag and copy only the code inside the content attribute.

### Using VTEX IO Toolbelt

1. [Install](https://vtex.io/docs/recipes/development/installing-an-app/) the `vtex.facebook-domain-verification@1.x` app. You can confirm that the app has now been installed by running `vtex ls` again.
2. Access the **Apps** section in your account's admin page and look for the Facebook Domain Verification box. Once you find it, click on the box.
3. Fill in the domain verification code.
4. Click on **Save**.

>ℹ️ Access the [Facebook Business Settings](https://business.facebook.com/settings/owned-domains/) and login to you account in order to find out what is your domain verification code is. Click on the Meta-tag Verification tag and copy only the code inside the content attribute.
