name: Review Markdown Formatting
on:
  pull_request:
    paths:
      - '**/*.md'
      - '**/*.mdx'
jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Comment Markdown formatting issues
        uses: reviewdog/action-markdownlint@v0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          filter_mode: file
          markdownlint_flags: |
            --disable MD013
            --disable MD033
            -- .
